body {
    font-family: 'Gudea', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 600;
    background: #FDF3E7;
}
.puzzle{
    width: 100%;
    margin: 0 0;
}
.win{
    font-family: sans-serif;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
    color: #EBC4C3;
}
.img{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

[id^=pos]{
    width: 100% !important;
}
div#puzzleWrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.headerTitle {
    font-size: 30px;
    text-align: center;
    padding: 25px 0;
}

.puzzleSection {
    display: inline-block;
    vertical-align: middle;
}


.countSection {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 60px;
    text-align: center;
}

.preview{
    width: 100% !important;
}

footer {
    text-align: center;
    padding: 30px 0;
}

#start {
    color: #000;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

.previewTitle {
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

#image {
    height: 400px;
    width: 400px;
    max-width: 97%;
    margin: auto;
    background-image: url(./images/img1.jpg);
    position: relative;
}

#image div {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    /*position: absolute;*/
    float: left;
}

.imgSelectionWrapper .img1 {
    width: 200px;
    height: 200px;
    background-image: url(./images/img1.jpg);
    background-size: contain;
    cursor: pointer;
}

.imgSelectionWrapper .img2 {
    width: 200px;
    height: 200px;
    background-image: url(./images/img2.jpg);
    background-size: contain;
    cursor: pointer;
}

.imgSelectionWrapper .img3 {
    width: 200px;
    height: 200px;
    background-image: url(./images/img3.jpg);
    background-size: contain;
    cursor: pointer;
}

.imgSelectionWrapper .img4 {
    width: 200px;
    height: 200px;
    background-image: url(./images/img4.jpg);
    background-size: contain;
    cursor: pointer;
}

.imgSelectionWrapper>div {
    display: inline-block;
}

.imgSelectionWrapper {
    text-align: center;
    margin: 40px 0;
}

.selectTitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
}

.lbWrapper,
.lbWrapper1 {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    z-index: 10;
    top: 0;
    left: 0;
    color: #fff;
    display: none;
}

.lbWrapper .failWrapper,
.lbWrapper .successWrapper {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.failTilte,
.successTilte {
    font-size: 30px;
    text-align: center;
}

.tryAgain {
    text-transform: uppercase;
    padding: 20px 0;
    text-align: center;
}

.tryAgain a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.error {
    display: none;
    color: #ff0000;
    text-align: center;
}


.canmove {
    cursor: pointer;
}

.pointer {
    /*background-image: none !important;*/
    background-color: #fff;
}



